@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Comfortaa:wght@300..700&family=Lilita+One&family=Quicksand:wght@300..700&display=swap');

body {
    background-color: #F5D547;
}

h2, h3, h4 {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #6DBE45;
}

h1 {
    font-size: 3rem !important;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #6DBE45;
}

button {
    background-color: #AEDFF2;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #F5D547;
}

.detail-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 25% 25%;
}

.idx-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 25% 25%;
    border-radius: 30%;
}

.idx-img2 {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 25% 25%;
}

.nav-wrapper {
    background-color: #6DBE45;
}

footer.page-footer {
    background-color: #6DBE45;
}

.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
    padding: 10px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    position: absolute;
    top: 0;
    width: 100%;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}

.card-img {
    max-width: 300px;
    padding: 5px;
}

.detail-card-content {
justify-content: flex-end;
padding: 20px;
}

.detail-card-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
    max-width: 100%;
}

.title {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}

.content-container {
    background-color: white;
    padding: 20px;
}

.content-container2 {
    background-color: white;
    padding: 1px;
}

tbody{
    align-items: center;
    align-content: center;
}

.card.horizontal .card-stacked .card-content {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.card .card-content {
    padding: 0px;
    border-radius: 0 0 2px 2px;
}